/*CSS file for Odyssey Gaming*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif;
}

:root{
    --light-green: #01bf62;
    --secondary-green: #127e4a;
    --white: #ffffff;
    --secondary-color: rgb(243, 240, 240);
}

body{
    position: relative;
}

/*---------------------------Header/Nav SECTION---------------------------*/

header{
    padding: 2rem 10rem;
    background-color: var(--secondary-color);
    position: sticky;
    top: 0;
    width: 100%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-items{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 25rem;
    list-style-type: none;
    text-transform: uppercase;
}

.nav-items a{
    text-decoration: none;
    color: black;
    letter-spacing: 1.5px;
}

.nav-items a:hover{
    cursor: pointer;
    font-weight: 700;
    text-decoration: underline;
    color: var(--secondary-green);
}

/*---------------------------Nav Button---------------------------*/

nav button{
    background-color: var(--light-green);
    padding: 10px 25px;
    color: var(--white);
    border-radius: 10px;
    border: none;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 16px;
}

nav button:hover{
    transform: scale(1.05);
    transition: 0.5s ease-in-out;
    background: var(--secondary-green);
    cursor: pointer;
}

/*---------------------------MAIN SECTION---------------------------*/
main{
    min-height: 80vh;
    display: grid;
    gap: 40px;
    place-content: center;
    grid-template-columns: 1fr 1fr;
    padding: 0 10rem;
}

.product-information{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-title{
    text-transform: uppercase;
    color: var(--light-green);
    font-size: 3rem;
    padding-bottom: 20px;
}

.main-description{
    font-size: 18px;
    padding-bottom: 20px;
}

.view-more-button{
    background-color: var(--light-green);
    padding: 10px 40px;
    color: var(--white);
    border-radius: 10px;
    border: none;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 16px;
    align-self: start;
}

.view-more-button:hover{
    transform: scale(1.05);
    transition: 0.5s ease-in-out;
    background: var(--secondary-green);
    cursor: pointer;
}

.main-image{
    display: grid;
    place-content: center;
}

.main-image img{
    width: 100%;
    border-radius: 20px;
}
