/*CSS file for Odyssey Gaming*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --light-green: #01bf62;
    --white: #ffffff;
    --secondary-green: rgb(243, 240, 240);
}

body{
    font-family: 'Red Hat Display', sans-serif;
    position: relative;
}

header{
    padding: 2rem 10%;
    background-color: var(--white);
    position: fixed;
    top: 0;
    width: 100%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.nav-items{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 25rem;
    list-style-type: none;
    text-transform: uppercase;
}

.nav-items a{
    text-decoration: none;
    color: black;
}

nav button{
    background-color: var(--light-green);
    padding: 10px 40px;
    color: var(--white);
    border-radius: 10px;
    border: none;
    font-weight: 700;
    text-transform: uppercase;
}

main{
    min-height: 90vh;
    background-color: var(--secondary-green);
}
